
@model AplicatieMeditatii.Models.Subject
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@ViewBag.message
@using (Html.BeginForm(actionName: "Edit", controllerName: "Subjects"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Subjectid)

    @Html.Label("Title", "Titlu materie  ", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.Title)
    <br />
    @Html.Label("Year", "An predare ", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.Year)
    <br />


    <button class="btn btn-sm btn-success" type="submit">Modifică lectia</button>
}
