@model AplicatieMeditatii.Models.CourseContent
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@ViewBag.message
@using (Html.BeginForm(actionName: "Edit", controllerName: "CourseContent"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.Courseid)
    @Html.HiddenFor(m => m.ImagePath)
    @Html.HiddenFor(m => m.Index)

    @Html.Label("Text", "Text  ", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.Text)
    <br />


    <button class="btn btn-sm btn-success" type="submit">Modifică lectia</button>
}
