@model AplicatieMeditatii.Models.CourseContent
@{
    ViewBag.Title = "New text";
    var tempval = TempData["message"];
}

<h2>New text   @tempval</h2>



@using (Html.BeginForm("NewText", "CourseContent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.HiddenFor(m => m.ImagePath)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Courseid)
    @Html.HiddenFor(m => m.Index)
    @Html.HiddenFor(m => m.Type)
    @Html.Label("Text", "Text", new { htmlAttributes = new { @class = "form-control" } })
    @Html.EditorFor(m => m.Text)
    @Html.ValidationMessage("Text", null, new { @class = "text-danger" })
    <br />

    
    <br />
    <br />
    <br />
    <br />

    <button class="btn btn-success" type="submit">Adaugă lectia</button>
}
